services:
  ana-website-2026-nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - client
      - server
    networks:
      - dmoj_nginx_network
      - ana_website_network

  client:
    build:
      context: ./client
      args:
        - VITE_SERVER_URL=
    expose:
      - "80"
    restart: always
    networks:
      - ana_website_network

  server:
    build: ./server
    env_file:
      - server/.env
    expose:
      - "3000"
    volumes:
      - ./server/images:/app/images
    depends_on:
      - mongodb
    restart: always
    networks:
      - ana_website_network

  mongodb:
    image: mongo:8.0
    expose:
      - "27017"
    volumes:
      - ./mongo-data:/data/db
    restart: always
    networks:
      - ana_website_network


networks:
  dmoj_nginx_network:
    external: true
  ana_website_network:
    driver: bridge