services:
  nginx:
    image: nginx:alpine
    container_name: ana-website-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - client
      - server

  client:
    container_name: ana-website-client
    build:
      context: ./client
      args:
        - VITE_SERVER_URL=
    expose:
      - "80"
    restart: always

  server:
    container_name: ana-website-server
    build: ./server
    env_file:
      - server/.env
    expose:
      - "3000"
    volumes:
      - ./server/images:/app/images
    depends_on:
      - mongodb
    restart: always

  mongodb:
    image: mongo:8.0
    container_name: ana-website-mongodb
    expose:
      - "27017"
    volumes:
      - ./mongo-data:/data/db
    restart: always
